.offer-title,
.offer-brand,
.offer-model,
.offer-year,
.offer-description,
.offer-price {
    margin: 0;
    padding: 0;
}


.offers-container {
    position: relative;

    min-height: 86.65vh;
    flex-direction: column;
    margin-top: 78px;
    margin-bottom: 30px;
}

/* .container-title {
    position: absolute;
    top: 20px;
}

.img-wrapper {
    padding: 0 10px;
}

.img-wrapper img {
    max-width: 180px;
    border-radius: 5px;
    padding-top: 15px;
}

.offers-wrapper {
    position: absolute;
    top: 120px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(187, 187, 187);
    border-radius: 12px;
    width: 90%;
    max-width: "400px";
    text-align: center;
}

.offer {
    background-color: rgb(255, 255, 255);
    max-width: 200px;
    border-radius: 12px;
    border: 1px solid black;
    margin-left: 3px;
    margin-right: 17px;
    margin-top: 35px;
}

.offer-content {
    background-color: wheat;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}

.offer-btn {
    background-color: rgb(198, 193, 230);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.offer-btn:hover {
    border: 2px solid rgb(0, 119, 255);
    width: 100px;
} */