.offer-title,
.offer-brand,
.offer-model,
.offer-year,
.offer-description,
.offer-price {
    margin: 0;
    padding: 0;
}


#root > .offers-container {
    position: relative;
    background-image: url('./bmw-m4-mk2-pic135238.jpg');
    max-width: 100%;
    min-height: 86.65vh;
    flex-direction: column;
    
    
}



.offers-wrapper {
    position: absolute;
    top: 120px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 12px;
    width: 90%;
    max-width: "400px";
    text-align: center;
}

