@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');



#root > .imgContainer-guest {
    background-image: url('../LogIn/rear_lights-wallpaper-1920x1080.jpg');
    min-height: 86.65vh;
    max-width: 100%;
}

.wrapper {
    max-width: 880px;
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    text-align: center;
    opacity: 0.58;
}
.wrapper > p {
    color: white;
    text-align: center;
    font-size: 26px;
}

h1 {
    color: rgb(5, 5, 5);

}

.greet {
    color: white;
}

.greet span {
    font-family: 'Kaushan Script', cursive;
}

#root > div {
    max-width: 1600px;
}