#root > .containerImg {
    background-image: url('./wp1910226-engines-wallpapers.jpg');
    max-width: 100%;
    min-height: 86.65vh;
}

.content-wrapper {
    background-color: white;
    opacity: 0.94;
    width: 1000px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    min-height: 645px;
    border-radius: 12px;
}

.submitBtn {
    background-color: yellowgreen;
    margin-top: 20px;
    width: 100px;
    border-radius: 8px;
    border:  none;
}

.submitBtn:hover {
    border: 2px solid rgb(85, 109, 85);
}
