@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');



#root > .content-wrapper-home {
    display: flex;
    flex-direction: column;
    min-height: 86.65vh;
    background-image: url('../LogIn/rear_lights-wallpaper-1920x1080.jpg');
    max-width: 100%;
    margin: 0 auto;
}

.my-offers-wrapper {
    display: flex;
}

.title-wrapper {
    background-color: #000000;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 12px;
    opacity: 0.75;
}

.title {
    font-family: 'Kaushan Script', cursive;
    
    text-align: center;
    color: white;
}

