#root > .container-login {
    background-image: url('./rear_lights-wallpaper-1920x1080.jpg');
    min-height: 86.65vh;
    max-width: 100%;
}

.account-need {
    color: white;
    font-size: 20px;
}

.offers-wrapper {
    background-color: teal;
     width: 90%;
     max-width: "400px";
     text-align: center;
     top: -270px;
    position: relative;
}