@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.test-heading {
    margin-top: 400px;
}

#root > .details-container {
    position: relative;
    background-image: url('../OffersPage/bmw-m4-mk2-pic135238.jpg');
    min-height: 86.65vh;
    flex-direction: column;
    max-width: 100%;
}

.details-title {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    padding: 10px 0;
    position: relative;
    top: 75px;
    color: #ffffff;
}


.details-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    height: 500px;
    background-color: #000000;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 12px;
    top: 70px;
    opacity: 0.85;
    height: 100%;
    padding-bottom: 30px;
}

.details-wrapper p, h4 {
    text-align: center;
    color: white;
}

.edit-form {
    margin-top: 30px;
    width: 460px;
}

.field-input {
    max-width: 700px;
}

.submitBtn {
    color: green;
}

.deleteBtn {
    height: 30px;
    position: absolute;
    top: 588px;
    right: 340px;

    border-radius: 12px;
    background-color: red;
    color: white;
    border: none;
}

.deleteBtn:hover {
   border: 2px solid rgb(216, 81, 81);
}